body {
  background: url("38667100_big_p16.png") no-repeat #ffffff fixed 0% 100%;
  color: #000000;
  padding: 0px;
  margin: 0px;
}
.bg {
  background: #ffffff;
  border-width: 0px;
  margin-left: 80%;
  margin-right:0%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.main {
  padding-left: 7%;
  padding-right: 2%;
}
header {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  border-width: 0px;
}
footer {
  background: #ffffff;
  margin: 0px;
  border-width: 0px;
  padding-left: 4%;
  padding-top: 7px;
  padding-bottom: 1px;
  vertical-align: bottom;
}
a:link {
  text-decoration: underline;
  color: #000000;
}
a:visited{
  text-decoration: underline;
  color: #000000;
}
a:hover{
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}
a:active{
  text-decoration: underline;
  color: #000000;
}
