body {
  background: url("33717992cfed2c54bf69e22cef948e8c5c5f3f19.jpg") no-repeat #000000 fixed top;
}
.main {
  background: #ffffff;
  margin-left: 30%;
  margin-right:30%;
  padding-left: 5%;
  padding-right: 2%;
}
