body {
  background: url("33717992cfed2c54bf69e22cef948e8c5c5f3f19.jpg") no-repeat #000000 fixed top;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}
.bg {
  background: #000000;
  border-width: 0px;
  margin-left: 30%;
  margin-right:30%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.main {
  padding-left: 7%;
  padding-right: 2%;
}
header {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  border-width: 0px;
}
footer {
  background: #000000;
  margin: 0px;
  border-width: 0px;
  padding-left: 4%;
  padding-top: 7px;
  padding-bottom: 1px;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #ffff00 3px 1px 2px;
}
