body {
  background: url("33717992cfed2c54bf69e22cef948e8c5c5f3f19.jpg") no-repeat #000000 fixed top;
}
.bg {
  background: #ffffff;
  border-width: 0px;
  margin-left: 30%;
  margin-right:30%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.main {
  border-width: 0px;
  margin-left: 30%;
  margin-right:30%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 4%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
header {
  border-width: 0px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0%;
  margin-bottom: 0%;
}
